# Local development
REACT_APP_ORDER_API_URL=http://localhost:8084/v1/order/
REACT_APP_PAYMENT_API_URL=http://localhost:8085/v1/payment/
REACT_APP_MERCHANT_API_URL=http://localhost:8086/v1/merchant/
REACT_APP_SKIP_TERMS_ACCEPT_FOR_NAMESPACES=testi
REACT_APP_AXIOS_RETRY_COUNT=0
#REACT_APP_SENTRY_DNS=
#MOCKS
#REACT_APP_ORDER_API_URL=http://localhost:8010/
#REACT_APP_PAYMENT_API_URL=http://localhost:8011/
#REACT_APP_MERCHANT_API_URL=http://localhost:8012/

#Reals
#REACT_APP_PAYMENT_API_URL=https://talpa-verkkokauppa-payment-experience-api-test.agw.arodevtest.hel.fi/v1/payment/
#REACT_APP_ORDER_API_URL=https://talpa-verkkokauppa-order-experience-api-test.agw.arodevtest.hel.fi/v1/order/
#REACT_APP_MERCHANT_API_URL=https://talpa-verkkokauppa-merchant-experience-api-test.agw.arodevtest.hel.fi/v1/merchant/

#SKIP_PREFLIGHT_CHECK=true
#REACT_APP_IS_ANALYTICS=true
#REACT_APP_PAYMENT_API_URL=https://talpa-verkkokauppa-payment-experience-api-test.apps.agw.arodevtest.hel.fi/
#REACT_APP_ORDER_API_URL=https://talpa-verkkokauppa-order-experience-api-test.apps.agw.arodevtest.hel.fi/


#PORT=443
HTTPS=true
SSL_CRT_FILE=config/cert.crt
SSL_KEY_FILE=config/cert.key