.product-list {

    flex-basis: 100%;

    @media only screen and (max-width: $breakpoint-m) {
        padding: 0px;
    }

    .product-row {
        border-bottom: 1px solid #ccc;
        margin-bottom: 24px;
        padding-bottom: 14px;

        table {
            //margin: 20px 0px 20px 0px;
            width: 100%;
            font-weight: 700;
            padding: 0px;
    
            @media only screen and (min-width: $breakpoint-m) {
                margin: 0px;
            }
    
            tr > td:last-of-type {
                text-align: right;
                //padding-right: 20px;
            }
    
            td {
                vertical-align: top;
                padding: 0px;
                
            }
        }
        .meta {
            margin-bottom: 10px;
    
            .meta-label {
                font-weight: 500;
            }
            .meta-value {
                font-weight: 400;
            }
        }
    }
    


    .product-summary {
        background: #eee;
        padding: 20px;
        width: calc(100% - 40px);

        .cart-total {
            float: right;
            font-weight: 700;
        }
    }
}