.product-list {

    flex-basis: 100%;

    @media only screen and (max-width: $breakpoint-m) {
        padding: 0px;
    }

    .product-list-items {
        padding-bottom: 0px;
    }

    .product-row {
        margin-bottom: 24px;
        //padding-bottom: 14px;

        &:not(:first-child) {
            //margin-top: 40px;

            @media only screen and (min-width: $breakpoint-m) {
                margin-top: 0px;
            }
        }

        table {
            //margin: 20px 0px 20px 0px;
            width: 100%;
            font-weight: 700;
            padding: 0px;
    
            @media only screen and (min-width: $breakpoint-m) {
                margin: 0px;
            }
    
            tr > td:last-of-type {
                text-align: right;
                //padding-right: 20px;
            }
    
            td {
                vertical-align: top;
                padding: 0px;
                
            }
        }
        .meta {
            background: #fafafa;

            @media only screen and (min-width: $breakpoint-m) {
                background: transparent;
            }

            margin-left: -20px;
            width: calc(100% + 40px);
    
            .meta-label {
                font-weight: 500;
                padding: 20px 20px 0px 20px;
            }
            .meta-value {
                font-weight: 400;
                padding: 0px 20px 0px 20px;
            }

            &:last-of-type {
                padding-bottom: 20px;

                @media only screen and (min-width: $breakpoint-m) {
                    padding-bottom: 0px;
                }
            }
        }
    }
    


    .product-summary {
        background: #eee;
        padding: 20px;
        width: calc(100% - 40px);

        @media only screen and (max-width: $breakpoint-m) {
            width: calc(100%);
            margin-left: -20px;
        }
        
        .cart-total {
            float: right;
            font-weight: 700;

            &.normal {
                font-weight: 400;
            }
        }
    }
}