.App {
    text-align: center;
    line-height: 1.5rem;

    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }

    hr {
        border: none;
        border-top: 1px solid #ccc;
    }

    .normal {
        font-weight: 400;
    }

    .small {
        font-size: 0.95rem;
    }

    .padded {
        line-height: 2rem;
    }

    .cart {
        position: relative;
        cursor: pointer;
        .cart-icon {
            height: 40px;
            width: 40px;
        }

        .cart-size {
            background: $blue;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            right: -5px;
            bottom: -5px;
            color: white;
            font-size: 12px;
            font-weight: 700;
            line-height: 20px;
        }
    }

    .language-switcher {
        div {
            border: none;
            font-weight: 700;
            margin-top: 2px;
        }
    }

    .steps-container {
        width: 100%;
        margin-bottom: 40px;
        margin-top: 40px;

        .step-container {
            display: inline-block;
            width: 25%;
            background-color: #ccc;
            height: 2px;

            &.active {
                background-color: $blue;
            }

            
            .step {
                border: 2px solid #ccc;
                padding: 5px;
                border-radius: 50%;
                margin: auto;
                width: 20px;
                height: 20px;
                text-align: center;
                z-index: 1;
                background: white;
                margin-top: -15px;
                font-weight: 700;
                line-height: 20px;

                &.active {
                    border: 2px solid $blue;
                    color: $blue;
                }

                &.done {
                    background: $blue;
                    border: 2px solid $blue;

                    &::after {
                        content: "\2713";
                        color: white;
                    }
                    
                }
                &#step-1 {
                    margin-left: 0px;
                }

                &#step-2 {
                    margin-left: 25%;
                }

                &#step-3 {
                    margin-right: 25%;
                }

                &#step-4 {
                    margin-right: 0px;
                }
            }
        }
        
    }

    .product-list {
        table {
            margin: 20px 0px 20px 0px;
            width: 100%;
            font-weight: 700;

            tr > td:last-of-type {
                text-align: right;
                //padding-right: 20px;
            }

            td {
                vertical-align: top;
            }
        }

        .product-summary {
            background: #eee;
            padding: 10px 0px 10px 10px;
            width: calc(100% + 20px);
            margin-left: -10px;

            .cart-total {
                float: right;
                padding-right: 20px;
                font-weight: 700;
            }
        }
    }
    

    .checkout-container {
        margin: auto;
        text-align: left;
    }

    .checkout-input {
        margin: 20px 0px 20px 0px;
    }

    .subscriber-details {
        .subscriber-tip {
            color: #555;
            margin-top: -15px;
            margin-bottom: 20px;
        }
    }
    
    .checkout-actions {
        margin-top: 20px;
        margin-bottom: 20px;

        .submit {
            width: 100%;
        }

        .centered-link {
            text-align: center;
            font-weight: 600;
            a {
                color: $blue;
            }
            
        }

        .cancel {
            width: 100%;
            margin-top: 20px;
        }

        .accept-conditions {
            margin: auto;
            display: block;
            margin-top: 20px; 
            margin-bottom: 20px;
        }

        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            line-height: 28px;
          }
          
          /* Hide the browser's default checkbox */
          .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
          
          /* Create a custom checkbox */
          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
          }
          
          /* On mouse-over, add a grey background color */
          .container:hover input ~ .checkmark {
            background-color: #ccc;
          }
          
          /* When the checkbox is checked, add a blue background */
          .container input:checked ~ .checkmark {
            background-color: $blue;
          }
          
          /* Create the checkmark/indicator (hidden when not checked) */
          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }
          
          /* Show the checkmark when checked */
          .container input:checked ~ .checkmark:after {
            display: block;
          }
          
          /* Style the checkmark/indicator */
          .container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        
    }
}

