.App {
    text-align: center;
    line-height: 1.5rem;
    background: $light_grey;

    @media only screen and (max-width: $breakpoint-m) {
        background: #fff;
    }

    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }

    h1 {
        line-height: 2rem;
    }

    hr {
        border: none;
        border-top: 1px solid #ccc;

        @media only screen and (min-width: $breakpoint-m) {
           display: none;
        }
    }

    .normal {
        font-weight: 400;
    }

    .small {
        font-size: 0.95rem;
    }

    .padded {
        line-height: 2rem;
    }

    .box {
      display: flex;
      align-items: center;
      justify-content: center;

      &.reverse {
        flex-flow: row-reverse;
        justify-content: space-between;
      }
    }

    .desktop-flex {
        display: flex;
        flex-flow: row-reverse;
        justify-content: center;
        align-items: flex-start;
        column-gap: 40px;

        &.normal {
            flex-flow: row;
        }

        &.checkout-actions {
            justify-content: space-between;
            align-items: center;
        }
    
        @media only screen and (max-width: $breakpoint-m) {
            display: block;
        }
    }

    .inner-box {
        background: #fff;
        padding: 20px;

        @media only screen and (max-width: $breakpoint-m) {
            padding: 0px;
        }
    }

    $spacer: 1rem !default;
    // 1 - (by default) for classes that set the margin or padding to $spacer * .25
    // 2 - (by default) for classes that set the margin or padding to $spacer * .5
    // 3 - (by default) for classes that set the margin or padding to $spacer
    // 4 - (by default) for classes that set the margin or padding to $spacer * 1.5
    // 5 - (by default) for classes that set the margin or padding to $spacer * 3
    .py-5 {
      padding-top: ($spacer * 3) !important;
      padding-bottom: ($spacer * 3) !important;
    }

    .light-bg {
        background: #fff;

        @media only screen and (max-width: $breakpoint-m) {
            background: transparent;
        }
    }
}

.full-width {
    width: 100vw;
}