
.footer-button-wrapper {
  flex: 1 0 300px;
}

.CookieConsent {
  //flex-wrap: wrap-reverse !important;
  -webkit-text-size-adjust: 100% !important;
  --breakpoint-xs: 320px !important;
  --breakpoint-s: 576px !important;
  --breakpoint-m: 768px !important;
  --breakpoint-l: 992px !important;
  --breakpoint-xl: 1248px !important;
  --container-width-xs: 288px !important;
  --container-width-s: 544px !important;
  --container-width-m: 720px !important;
  --container-width-l: 944px !important;
  --container-width-xl: 1200px !important;
  --color-brick: #bd2719 !important;
  --color-brick-light: #ffeeed !important;
  --color-brick-medium-light: #facbc8 !important;
  --color-brick-dark: #800e04 !important;
  --color-bus: #0000bf !important;
  --color-bus-light: #f0f0ff !important;
  --color-bus-medium-light: #ccf !important;
  --color-bus-dark: #00005e !important;
  --color-coat-of-arms: #0072c6 !important;
  --color-coat-of-arms-light: #e6f4ff !important;
  --color-coat-of-arms-medium-light: #b5daf7 !important;
  --color-coat-of-arms-dark: #005799 !important;
  --color-copper: #00d7a7 !important;
  --color-copper-light: #cffaf1 !important;
  --color-copper-medium-light: #9ef0de !important;
  --color-copper-dark: #00a17d !important;
  --color-engel: #ffe977 !important;
  --color-engel-light: #fff9db !important;
  --color-engel-medium-light: #fff3b8 !important;
  --color-engel-dark: #dbc030 !important;
  --color-fog: #9fc9eb !important;
  --color-fog-light: #e8f3fc !important;
  --color-fog-medium-light: #d0e6f7 !important;
  --color-fog-dark: #72a5cf !important;
  --color-gold: #c2a251 !important;
  --color-gold-light: #f7f2e4 !important;
  --color-gold-medium-light: #e8d7a7 !important;
  --color-gold-dark: #9e823c !important;
  --color-metro: #fd4f00 !important;
  --color-metro-light: #ffeee6 !important;
  --color-metro-medium-light: #ffcab3 !important;
  --color-metro-dark: #bd2f00 !important;
  --color-silver: #dedfe1 !important;
  --color-silver-light: #f7f7f8 !important;
  --color-silver-medium-light: #efeff0 !important;
  --color-silver-dark: #b0b8bf !important;
  --color-summer: #ffc61e !important;
  --color-summer-light: #fff4d4 !important;
  --color-summer-medium-light: #ffe49c !important;
  --color-summer-dark: #cc9200 !important;
  --color-suomenlinna: #f5a3c7 !important;
  --color-suomenlinna-light: #fff0f7 !important;
  --color-suomenlinna-medium-light: #ffdbeb !important;
  --color-suomenlinna-dark: #e673a5 !important;
  --color-tram: #009246 !important;
  --color-tram-light: #dff7eb !important;
  --color-tram-medium-light: #a3e3c2 !important;
  --color-tram-dark: #006631 !important;
  --color-black: #000 !important;
  --color-white: #fff !important;
  --color-black-5: #f1f1f1 !important;
  --color-black-10: #e5e5e5 !important;
  --color-black-20: #ccc !important;
  --color-black-30: #b2b2b2 !important;
  --color-black-40: #999898 !important;
  --color-black-50: grey !important;
  --color-black-60: #666 !important;
  --color-black-70: #4c4c4c !important;
  --color-black-80: #333 !important;
  --color-black-90: #1a1a1a !important;
  --color-error: #b01038 !important;
  --color-error-light: #f6e2e6 !important;
  --color-error-dark: #8d0d2d !important;
  --color-success: #007a64 !important;
  --color-success-light: #e2f5f3 !important;
  --color-success-dark: #006250 !important;
  --color-alert: #ffda07 !important;
  --color-alert-light: #fff4b4 !important;
  --color-alert-dark: #d18200 !important;
  --color-info: #0062b9 !important;
  --color-info-light: #e5eff8 !important;
  --color-info-dark: #004f94 !important;
  --spacing-layout-2-xs: 1rem !important;
  --spacing-layout-xs: 1.5rem !important;
  --spacing-layout-s: 2rem !important;
  --spacing-layout-m: 3rem !important;
  --spacing-layout-l: 4rem !important;
  --spacing-layout-xl: 6rem !important;
  --spacing-layout-2-xl: 8rem !important;
  --spacing-4-xs: 0.125rem !important;
  --spacing-3-xs: 0.25rem !important;
  --spacing-2-xs: 0.5rem !important;
  --spacing-xs: 0.75rem !important;
  --spacing-s: 1rem !important;
  --spacing-m: 1.5rem !important;
  --spacing-l: 2rem !important;
  --spacing-xl: 2.5rem !important;
  --spacing-2-xl: 3.0rem !important;
  --spacing-3-xl: 3.5rem !important;
  --spacing-4-xl: 4rem !important;
  --spacing-5-xl: 4.5rem !important;
  --fontsize-heading-xl: 3.25rem !important;
  --fontsize-heading-l: 2.25rem !important;
  --fontsize-heading-m: 1.5rem !important;
  --fontsize-heading-s: 1.25rem !important;
  --fontsize-heading-xs: 1.125rem !important;
  --fontsize-heading-xxs: 1rem !important;
  --fontsize-body-s: 0.875rem !important;
  --fontsize-body-m: 1rem !important;
  --fontsize-body-l: 1.125rem !important;
  --fontsize-body-xl: 1.25rem !important;
  --font-default: HelsinkiGrotesk, Arial, sans-serif !important;
  --lineheight-s: 1 !important;
  --lineheight-m: 1.2 !important;
  --lineheight-l: 1.5 !important;
  --lineheight-xl: 1.75 !important;
  --date-background: transparent !important;
  --date-color: var(--color-black-90) !important;
  --outside-date-background: transparent !important;
  --outside-date-color: var(--color-black-40) !important;
  --selected-date-background: var(--color-bus) !important;
  --selected-date-color: #fff !important;
  --table-width: 100% !important;
  --horizontal-spacing: var(--spacing-s) !important;
  --vertical-spacing: var(--spacing-s) !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: inherit !important;
  font-size: 100% !important;
  line-height: 1.15 !important;

  overflow: visible !important;
  text-transform: none !important;

  align-content: flex-start !important;
  align-items: center !important;
  background-color: var(--background-color, transparent) !important;

  color: var(--color) !important;

  display: inline-flex !important;
  //font-weight: 500 !important;
  justify-content: center !important;
  --background-color: var(--color-bus) !important;
  --background-color-hover: var(--color-bus-dark) !important;
  --background-color-focus: var(--color-bus) !important;
  --background-color-hover-focus: var(--color-bus-dark) !important;
  --background-color-disabled: var(--color-black-20) !important;
  --border-color: var(--color-bus) !important;
  --border-color-hover: var(--color-bus-dark) !important;
  --border-color-focus: var(--color-bus) !important;
  --border-color-hover-focus: var(--color-bus-dark) !important;
  --border-color-disabled: var(--color-black-20) !important;
  --color: var(--color-white) !important;
  --color-hover: var(--color-white) !important;
  --color-focus: var(--color-white) !important;
  --color-hover-focus: var(--color-white) !important;
  --color-disabled: var(--color-white) !important;
  --focus-outline-color: var(--color-coat-of-arms) !important;
  --submit-input-focus-gutter-color: var(--color-white) !important;
  border-color: var(--border-color, transparent) !important;
  width: 100% !important;
  //Customs

}

.decline-button {
  -webkit-text-size-adjust: 100% !important;
  --breakpoint-xs: 320px !important;
  --breakpoint-s: 576px !important;
  --breakpoint-m: 768px !important;
  --breakpoint-l: 992px !important;
  --breakpoint-xl: 1248px !important;
  --container-width-xs: 288px !important;
  --container-width-s: 544px !important;
  --container-width-m: 720px !important;
  --container-width-l: 944px !important;
  --container-width-xl: 1200px !important;
  --color-brick: #bd2719 !important;
  --color-brick-light: #ffeeed !important;
  --color-brick-medium-light: #facbc8 !important;
  --color-brick-dark: #800e04 !important;
  --color-bus: #0000bf !important;
  --color-bus-light: #f0f0ff !important;
  --color-bus-medium-light: #ccf !important;
  --color-bus-dark: #00005e !important;
  --color-coat-of-arms: #0072c6 !important;
  --color-coat-of-arms-light: #e6f4ff !important;
  --color-coat-of-arms-medium-light: #b5daf7 !important;
  --color-coat-of-arms-dark: #005799 !important;
  --color-copper: #00d7a7 !important;
  --color-copper-light: #cffaf1 !important;
  --color-copper-medium-light: #9ef0de !important;
  --color-copper-dark: #00a17d !important;
  --color-engel: #ffe977 !important;
  --color-engel-light: #fff9db !important;
  --color-engel-medium-light: #fff3b8 !important;
  --color-engel-dark: #dbc030 !important;
  --color-fog: #9fc9eb !important;
  --color-fog-light: #e8f3fc !important;
  --color-fog-medium-light: #d0e6f7 !important;
  --color-fog-dark: #72a5cf !important;
  --color-gold: #c2a251 !important;
  --color-gold-light: #f7f2e4 !important;
  --color-gold-medium-light: #e8d7a7 !important;
  --color-gold-dark: #9e823c !important;
  --color-metro: #fd4f00 !important;
  --color-metro-light: #ffeee6 !important;
  --color-metro-medium-light: #ffcab3 !important;
  --color-metro-dark: #bd2f00 !important;
  --color-silver: #dedfe1 !important;
  --color-silver-light: #f7f7f8 !important;
  --color-silver-medium-light: #efeff0 !important;
  --color-silver-dark: #b0b8bf !important;
  --color-summer: #ffc61e !important;
  --color-summer-light: #fff4d4 !important;
  --color-summer-medium-light: #ffe49c !important;
  --color-summer-dark: #cc9200 !important;
  --color-suomenlinna: #f5a3c7 !important;
  --color-suomenlinna-light: #fff0f7 !important;
  --color-suomenlinna-medium-light: #ffdbeb !important;
  --color-suomenlinna-dark: #e673a5 !important;
  --color-tram: #009246 !important;
  --color-tram-light: #dff7eb !important;
  --color-tram-medium-light: #a3e3c2 !important;
  --color-tram-dark: #006631 !important;
  --color-black: #000 !important;
  --color-white: #fff !important;
  --color-black-5: #f1f1f1 !important;
  --color-black-10: #e5e5e5 !important;
  --color-black-20: #ccc !important;
  --color-black-30: #b2b2b2 !important;
  --color-black-40: #999898 !important;
  --color-black-50: grey !important;
  --color-black-60: #666 !important;
  --color-black-70: #4c4c4c !important;
  --color-black-80: #333 !important;
  --color-black-90: #1a1a1a !important;
  --color-error: #b01038 !important;
  --color-error-light: #f6e2e6 !important;
  --color-error-dark: #8d0d2d !important;
  --color-success: #007a64 !important;
  --color-success-light: #e2f5f3 !important;
  --color-success-dark: #006250 !important;
  --color-alert: #ffda07 !important;
  --color-alert-light: #fff4b4 !important;
  --color-alert-dark: #d18200 !important;
  --color-info: #0062b9 !important;
  --color-info-light: #e5eff8 !important;
  --color-info-dark: #004f94 !important;
  --spacing-layout-2-xs: 1rem !important;
  --spacing-layout-xs: 1.5rem !important;
  --spacing-layout-s: 2rem !important;
  --spacing-layout-m: 3rem !important;
  --spacing-layout-l: 4rem !important;
  --spacing-layout-xl: 6rem !important;
  --spacing-layout-2-xl: 8rem !important;
  --spacing-4-xs: 0.125rem !important;
  --spacing-3-xs: 0.25rem !important;
  --spacing-2-xs: 0.5rem !important;
  --spacing-xs: 0.75rem !important;
  --spacing-s: 1rem !important;
  --spacing-m: 1.5rem !important;
  --spacing-l: 2rem !important;
  --spacing-xl: 2.5rem !important;
  --spacing-2-xl: 3.0rem !important;
  --spacing-3-xl: 3.5rem !important;
  --spacing-4-xl: 4rem !important;
  --spacing-5-xl: 4.5rem !important;
  --fontsize-heading-xl: 3.25rem !important;
  --fontsize-heading-l: 2.25rem !important;
  --fontsize-heading-m: 1.5rem !important;
  --fontsize-heading-s: 1.25rem !important;
  --fontsize-heading-xs: 1.125rem !important;
  --fontsize-heading-xxs: 1rem !important;
  --fontsize-body-s: 0.875rem !important;
  --fontsize-body-m: 1rem !important;
  --fontsize-body-l: 1.125rem !important;
  --fontsize-body-xl: 1.25rem !important;
  --font-default: HelsinkiGrotesk, Arial, sans-serif !important;
  --lineheight-s: 1 !important;
  --lineheight-m: 1.2 !important;
  --lineheight-l: 1.5 !important;
  --lineheight-xl: 1.75 !important;
  --date-background: transparent !important;
  --date-color: var(--color-black-90) !important;
  --outside-date-background: transparent !important;
  --outside-date-color: var(--color-black-40) !important;
  --selected-date-background: var(--color-bus) !important;
  --selected-date-color: #fff !important;
  --table-width: 100% !important;
  --horizontal-spacing: var(--spacing-s) !important;
  --vertical-spacing: var(--spacing-s) !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: inherit !important;
  font-size: 100% !important;
  line-height: 1.15 !important;
  margin: 1rem !important;
  overflow: visible !important;
  text-transform: none !important;
  -webkit-appearance: button !important;
  --border-width: 2px;
  --min-size: 44px;
  --outline-gutter: 2px;
  --outline-width: 3px;
  align-content: flex-start !important;
  align-items: center !important;
  background-color: var(--background-color, transparent) !important;
  border: 2px solid white !important;
  color: var(--color) !important;
  cursor: pointer !important;
  display: inline-flex !important;
  font-weight: 500 !important;
  justify-content: center !important;
  min-height: var(--min-size) !important;
  min-width: var(--min-size) !important;
  padding: 0 var(--spacing-2-xs) !important;
  position: relative !important;
  vertical-align: top !important;
  box-sizing: border-box !important;
  --background-color: var(--color-bus) !important;
  --background-color-hover: var(--color-bus-dark) !important;
  --background-color-focus: var(--color-bus) !important;
  --background-color-hover-focus: var(--color-bus-dark) !important;
  --background-color-disabled: var(--color-black-20) !important;
  --border-color: var(--color-bus) !important;
  --border-color-hover: var(--color-bus-dark) !important;
  --border-color-focus: var(--color-bus) !important;
  --border-color-hover-focus: var(--color-bus-dark) !important;
  --border-color-disabled: var(--color-black-20) !important;
  --color: var(--color-white) !important;
  --color-hover: var(--color-white) !important;
  --color-focus: var(--color-white) !important;
  --color-hover-focus: var(--color-white) !important;
  --color-disabled: var(--color-white) !important;
  --focus-outline-color: var(--color-coat-of-arms) !important;
  --submit-input-focus-gutter-color: var(--color-white) !important;
  width: 90% !important;
  //Customs

  @media only screen and (min-width: 780px) {
    width: 75% !important;
  }

}

.accept-button {
  -webkit-text-size-adjust: 100% !important;
  --breakpoint-xs: 320px !important;
  --breakpoint-s: 576px !important;
  --breakpoint-m: 768px !important;
  --breakpoint-l: 992px !important;
  --breakpoint-xl: 1248px !important;
  --container-width-xs: 288px !important;
  --container-width-s: 544px !important;
  --container-width-m: 720px !important;
  --container-width-l: 944px !important;
  --container-width-xl: 1200px !important;
  --color-brick: #bd2719 !important;
  --color-brick-light: #ffeeed !important;
  --color-brick-medium-light: #facbc8 !important;
  --color-brick-dark: #800e04 !important;
  --color-bus: #0000bf !important;
  --color-bus-light: #f0f0ff !important;
  --color-bus-medium-light: #ccf !important;
  --color-bus-dark: #00005e !important;
  --color-coat-of-arms: #0072c6 !important;
  --color-coat-of-arms-light: #e6f4ff !important;
  --color-coat-of-arms-medium-light: #b5daf7 !important;
  --color-coat-of-arms-dark: #005799 !important;
  --color-copper: #00d7a7 !important;
  --color-copper-light: #cffaf1 !important;
  --color-copper-medium-light: #9ef0de !important;
  --color-copper-dark: #00a17d !important;
  --color-engel: #ffe977 !important;
  --color-engel-light: #fff9db !important;
  --color-engel-medium-light: #fff3b8 !important;
  --color-engel-dark: #dbc030 !important;
  --color-fog: #9fc9eb !important;
  --color-fog-light: #e8f3fc !important;
  --color-fog-medium-light: #d0e6f7 !important;
  --color-fog-dark: #72a5cf !important;
  --color-gold: #c2a251 !important;
  --color-gold-light: #f7f2e4 !important;
  --color-gold-medium-light: #e8d7a7 !important;
  --color-gold-dark: #9e823c !important;
  --color-metro: #fd4f00 !important;
  --color-metro-light: #ffeee6 !important;
  --color-metro-medium-light: #ffcab3 !important;
  --color-metro-dark: #bd2f00 !important;
  --color-silver: #dedfe1 !important;
  --color-silver-light: #f7f7f8 !important;
  --color-silver-medium-light: #efeff0 !important;
  --color-silver-dark: #b0b8bf !important;
  --color-summer: #ffc61e !important;
  --color-summer-light: #fff4d4 !important;
  --color-summer-medium-light: #ffe49c !important;
  --color-summer-dark: #cc9200 !important;
  --color-suomenlinna: #f5a3c7 !important;
  --color-suomenlinna-light: #fff0f7 !important;
  --color-suomenlinna-medium-light: #ffdbeb !important;
  --color-suomenlinna-dark: #e673a5 !important;
  --color-tram: #009246 !important;
  --color-tram-light: #dff7eb !important;
  --color-tram-medium-light: #a3e3c2 !important;
  --color-tram-dark: #006631 !important;
  --color-black: #000 !important;
  --color-white: #fff !important;
  --color-black-5: #f1f1f1 !important;
  --color-black-10: #e5e5e5 !important;
  --color-black-20: #ccc !important;
  --color-black-30: #b2b2b2 !important;
  --color-black-40: #999898 !important;
  --color-black-50: grey !important;
  --color-black-60: #666 !important;
  --color-black-70: #4c4c4c !important;
  --color-black-80: #333 !important;
  --color-black-90: #1a1a1a !important;
  --color-error: #b01038 !important;
  --color-error-light: #f6e2e6 !important;
  --color-error-dark: #8d0d2d !important;
  --color-success: #007a64 !important;
  --color-success-light: #e2f5f3 !important;
  --color-success-dark: #006250 !important;
  --color-alert: #ffda07 !important;
  --color-alert-light: #fff4b4 !important;
  --color-alert-dark: #d18200 !important;
  --color-info: #0062b9 !important;
  --color-info-light: #e5eff8 !important;
  --color-info-dark: #004f94 !important;
  --spacing-layout-2-xs: 1rem !important;
  --spacing-layout-xs: 1.5rem !important;
  --spacing-layout-s: 2rem !important;
  --spacing-layout-m: 3rem !important;
  --spacing-layout-l: 4rem !important;
  --spacing-layout-xl: 6rem !important;
  --spacing-layout-2-xl: 8rem !important;
  --spacing-4-xs: 0.125rem !important;
  --spacing-3-xs: 0.25rem !important;
  --spacing-2-xs: 0.5rem !important;
  --spacing-xs: 0.75rem !important;
  --spacing-s: 1rem !important;
  --spacing-m: 1.5rem !important;
  --spacing-l: 2rem !important;
  --spacing-xl: 2.5rem !important;
  --spacing-2-xl: 3.0rem !important;
  --spacing-3-xl: 3.5rem !important;
  --spacing-4-xl: 4rem !important;
  --spacing-5-xl: 4.5rem !important;
  --fontsize-heading-xl: 3.25rem !important;
  --fontsize-heading-l: 2.25rem !important;
  --fontsize-heading-m: 1.5rem !important;
  --fontsize-heading-s: 1.25rem !important;
  --fontsize-heading-xs: 1.125rem !important;
  --fontsize-heading-xxs: 1rem !important;
  --fontsize-body-s: 0.875rem !important;
  --fontsize-body-m: 1rem !important;
  --fontsize-body-l: 1.125rem !important;
  --fontsize-body-xl: 1.25rem !important;
  --font-default: HelsinkiGrotesk,Arial,sans-serif !important;
  --lineheight-s: 1 !important;
  --lineheight-m: 1.2 !important;
  --lineheight-l: 1.5 !important;
  --lineheight-xl: 1.75 !important;
  --date-background: transparent !important;
  --date-color: var(--color-black-90) !important;
  --outside-date-background: transparent !important;
  --outside-date-color: var(--color-black-40) !important;
  --selected-date-background: var(--color-bus) !important;
  --selected-date-color: #fff !important;
  --horizontal-spacing: var(--spacing-s) !important;
  --vertical-spacing: var(--spacing-s) !important;
  --table-width: 308px !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: inherit !important;
  font-size: 100% !important;
  line-height: 1.15 !important;
  margin: 0 !important;
  overflow: visible !important;
  text-transform: none !important;
  -webkit-appearance: button !important;
  //--border-width: <2px !important;
  --min-size: 44px !important;
  --outline-gutter: 2px !important;
  --outline-width: 3px !important;
  align-content: flex-start !important;
  align-items: center !important;
  //border: var(--border-width) solid var(--border-color,transparent) !important;
  border-radius: 0 !important;
  cursor: pointer !important;
  display: inline-flex !important;
  font-weight: 500 !important;
  justify-content: center !important;
  min-height: var(--min-size) !important;
  min-width: var(--min-size) !important;
  padding: 0 var(--spacing-2-xs) !important;
  position: relative !important;
  vertical-align: top !important;
  box-sizing: border-box !important;
  --focus-outline-color: var(--color-coat-of-arms) !important;
  --submit-input-focus-gutter-color: var(--color-white) !important;
  --border-color: var(--color-bus) !important;
  --border-color-hover: var(--color-bus-dark) !important;
  --border-color-focus: var(--color-bus) !important;
  --border-color-hover-focus: var(--color-bus-dark) !important;
  --border-color-disabled: var(--color-black-50) !important;
  --background-color: transparent !important;
  --background-color-hover: var(--color-bus-light) !important;
  --background-color-focus: transparent !important;
  --background-color-hover-focus: var(--color-bus-light) !important;
  --background-color-disabled: transparent !important;
  --color: var(--color-bus) !important;
  --color-hover: var(--color-bus) !important;
  --color-hover-focus: var(--color-bus-dark) !important;
  --color-disabled: var(--color-black-40) !important;
  transition-property: background-color,border-color,color !important;
  transition-duration: 85ms !important;
  transition-timing-function: ease-out !important;
  background-color: var(--background-color-hover,transparent) !important;
  color: var(--color-hover) !important;
  width: 90% !important;
  margin-top: 20px !important;
  border-color: var(--border-color-hover,transparent) !important;

  @media only screen and (min-width: 780px) {
    width: 75% !important;
  }
}